@font-face {
  font-family: 'Minecraft';
  src: url('./font/minecraft_font.ttf') format('TrueType');
}
@viewport {
  width: device-width;
  zoom: 1.0;
}

body {
  font-family: 'Minecraft';
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  background-image: url("../img/night_sky.jpg");
  text-align: center;
}

#game-window {
  width: 320px;
  height: 320px;
  background-color: #F0F0F0;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  padding: 80px;
}
.cactus {
  width: 100%;
}
#cactus:hover {
  cursor: pointer;
  filter: opacity(0.95);
}
.health-bar {
  width: 200px;
  height: 20px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.heart {
  float: left;
  width: 20px;
  height: 20px;
}
.button {
  display: block;
  margin: auto;
  padding-top: 5px;
}

#death-screen {
  display: none;
}
#message {
  padding-top: 10px;
  padding-bottom: 50px;
}
#disclaimer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  color: rgba(250, 250, 250, 0.6);
}
.footer-links {
  padding-bottom: 5px;
  padding-top: 50px;
}
.footer-link {
  text-decoration: none;
  color: blue;
}
.footer-link:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
