@font-face {
  font-family: "Minecraft";
  src: url(./font/minecraft_font.ttf) format("TrueType");
}

body {
  font-family: 'Minecraft';
  margin:0;
  padding:0;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

section {
  padding-top: 50px;
}

#syllabus, #gallery, #tools {
  float: left;
  --blank: calc(min(1024px, 100vw) - 425px);
  width: calc(var(--blank) / 6);
}

#portals, #map, #cactus {
  float: right;
  --blank: calc(min(1024px, 100vw) - 425px);
  width: calc(var(--blank) / 6);
}

.header {
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav {
  align-items: center;
  width: min(1024px, 100vw);
  margin: auto;
}

.menu {
  /*padding-left: 16px;
  padding-right: 16px;*/
  font-size: 10px;
  text-align: center;
}

.menu:hover {
  filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.5));
  transform: scale(1.05);
  cursor: pointer;
}

#logo {
  float: inherit;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  filter: drop-shadow(0px 4px 4px gray);
}

#dp_open, #dp_close {
  float: inherit;
  position: absolute;
  top: 3px;
  left: 3px;
  display: none;
  opacity: 0;
}

@media screen and (min-width: 800px) {
  #dp_open, #dp_close {
    float: inherit;
    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  /*.menu {
    --a: calc(100vw - 800px);
    --b: calc(var(--a) / 224);
    --c: calc(var(--b) * 16);
    padding-left: var(--c);
    padding-right: var(--c);
  }*/
}

@media screen and (max-width: 800px) {
  .header {
    height: 44px;
  }

  .nav {
    width: 90vw;
    position: absolute;
    top: 80px;
    left: 4vw;
    margin: auto;
  }

  .menu {
    padding-left: 0;
    padding-right: 0;
    font-size: 11px;
    text-align: center;
  }

  #syllabus, #gallery, #tools {
    top: 80px;
    display: inline-block;
    width: 33.3%;
    margin: auto;
  }

  #portals, #map, #cactus {
    padding-top: 20px;
    display: inline-block;
    width: 33.3%;
    margin: auto;
  }

  #dp_close {
    display: block;
    opacity: 1;
  }

  #dp_close:hover {
    filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.5));
    transform: scale(1.05);
    cursor: pointer;
  }

  #dp_open:hover {
    filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.5));
    transform: scale(1.05);
    cursor: pointer;
  }


}
