@font-face {
  font-family: 'Minecraft';
  src: url('./font/minecraft_font.ttf') format('TrueType');
}

@viewport {
  width: device-width;
  zoom: 1.0;
}
.anchor {
  display: block;
  position: relative;
  top: -74px;
  visibility: hidden;
}
body {
  font-family: 'Minecraft';
  margin:0;
  padding:0;
  min-width: 320px;
}
#footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F0F0F0;
  font-size: 13px;
  color: gray;
  letter-spacing: 0.03em;
}
.footer-hr {
  width: 1080px;
  margin: auto;
}
.footer-website-information {
  font-size: 13px;
  align-content: center;
}
.footer-version {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
  display: inline-block;
}
.footer-version-links {
  display: block;
  padding-bottom: 5px;
}
.footer-version-link {
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(50, 50, 50, 1);
}
.footer-version-link:hover {
  cursor: pointer;
  color: rgba(50, 50, 50, 1);
}
.footer-version-link:visited {
  cursor: pointer;
  color: rgba(50, 50, 50, 1);
}
.footer-vertical-bar {
  background-color: lightgray;
  height: 10px;
  padding-left: 1px;
}
#footer-developer {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 10px;
}
#heart {
  padding-right: 5px;
  padding-left: 2px;
}
body {
  color: rgb(75, 75, 75);
  background-image: url("../img/night_sky.jpg");
}
#main {
  text-align: center;
  letter-spacing: 0.03em;
  width: 1080px;
  padding-bottom: 20px;
  background-color: white;
  margin: auto;
}
h3 {
  color: black;
}
p {
  font-size: 14px;
}
.menul {
  float: left;
  padding-top: 15px;
  --blank: calc(1080px - 425px);
  width: calc(var(--blank) / 6);
}

.menur {
  float: right;
  padding-top: 15px;
  --blank: calc(1080px - 425px);
  width: calc(var(--blank) / 6);
}

#portals-button, #map-button, #cactus-button, #syllabus-button, #gallery-button, #resources-button {
  color: black;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.05em;
}

#portals-button:hover, #map-button:hover, #cactus-button:hover,
#syllabus-button:hover, #gallery-button:hover, #resources-button:hover {
  filter: drop-shadow(2px 1px 1px rgba(100, 100, 100, 0.3));
  transform: scale(1.05);
  transition-duration: 0.3s;
  cursor: pointer;
}

#header {
  overflow: hidden;
  background-color: rgba(245, 245, 245, 0.95);
  position: sticky;
  top: 0;
  width: 100vw;
  height: 74px;
  font-size: 10px;
  text-align: center;
  min-width: 320px;
  transition: none;
  z-index: 1;
}

.nav {
  align-items: center;
  width: 1080px;
  margin: auto;
  min-width: 320px;
}

#logo {
  float: inherit;
  position: absolute;
  height: 55px;
  top: 9.5px;
  left: 50%;
  transform: translate(-50%, 0);
  filter: drop-shadow(0px 4px 4px gray);
}

#logo:hover {
  opacity: 0.9;
  cursor: pointer;
}

#drp_menu {
  float: inherit;
  position: absolute;
  top: 7.2px;
  left: 3px;
  width: 0px;
}

#drp_menu:hover {
  opacity: 0.9;
  cursor: pointer;
}

#intro-block {
  background-image: url("../img/background.jpeg");
  background-position: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
#intro-text {
  line-height: 1.5;
  margin: auto;
  width: 500px;
  color: rgba(250, 250, 250, 0.95);
}
#intro_link_1, #intro_link_2 {
  color: orange;
}
#intro-heading {
  color: rgba(250, 250, 250, 0.8);
}
:root {
  --video-padding-left: 5px;
  --video-padding-right: 5px;
  --video-padding-top: 5px;
  --video-padding-bottom: 5px;
  --video-padding-left-right: calc(var(--video-padding-left) + var(--video-padding-right));
  --video-padding-top-bottom: calc(var(--video-padding-top) + var(--video-padding-bottom));
  --videos-width: calc(0.95 * 1080px);
  --videos-number-per-row: 2;
  --videos-number-per-col: 2;
  --video-ratio: 0.5625;
}
#videos {
  --video-width-with-padding: calc(var(--videos-width) / var(--videos-number-per-row));
  --width: calc(var(--video-width-with-padding) - var(--video-padding-left-right));
  --height: calc(var(--width) * var(--video-ratio));
  width: var(--videos-width);
  --video-height-with-padding: calc(var(--height) + var(--video-padding-top-bottom));
  height: calc(var(--video-height-with-padding) * var(--videos-number-per-col));
  margin: auto;
  overflow: hidden;
}

.video {
  --video-width-with-padding: calc(var(--videos-width) / var(--videos-number-per-row));
  --width: calc(var(--video-width-with-padding) - var(--video-padding-left-right));
  --height: calc(var(--width) * var(--video-ratio));
  width: var(--width);
  height: var(--height);

  padding-left: var(--video-padding-left);
  padding-right: var(--video-padding-right);
  padding-top: var(--video-padding-top);
  padding-bottom: var(--video-padding-bottom);

  float: left;
}
#video-show-all-button {

}
#video-show-all-button:hover {
  cursor: pointer;
}
#video-show-less-button {
  display: none;
}
#video-show-less-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1080px) and (min-width: 800px){
  .nav, #main {
    width: 100vw;
  }
  #header {
    transition: none;
  }
  .menur, .menul {
    --blank: calc(100vw - 425px);
    width: calc(var(--blank) / 6);
  }
  #intro-text {
    width: 500px;
  }
  .video {
    --videos-width: calc(95vw / 2);
    --width: calc(var(--videos-width) - var(--video-padding-left-right));
    --height: calc(var(--width) * 0.5625);
    width: var(--width);
    height: var(--height);
  }
  #videos {
    --videos-width: calc(95vw / 2);
    --width: calc(var(--videos-width) - var(--video-padding-left-right));
    --height: calc(var(--width) * 0.5625);
    --video-height-with-padding: calc(var(--height) + var(--video-padding-top-bottom));
    width: 95vw;
    height: calc(var(--video-height-with-padding) * var(--videos-number-per-col));
  }
  .footer-hr {
    width: 95vw;
  }
}

@media screen and (max-width: 800px) { /* width <= 800px */
  .nav {
    width: 100vw;
    position: absolute;
    top: 70px;
    margin: auto;
  }
  #main {
    width: 100vw;
  }
  .menur, .menul {
    display: inline-block;
    width: 33.3%;
    margin: auto;
  }

  #drp_menu {
    width: 50px;
  }
  #intro-text {
    width: 62.5%;
  }
  #videos {
    --video-height-with-padding: calc(219.375px + var(--video-padding-top-bottom));
    height: calc(var(--video-height-with-padding) * var(--videos-number-per-col));
    width: 100vw;
  }
  .video {
    width: 390px;
    height: 219.375px;
    margin-left: calc(50vw - 200px);
  }
  .footer-hr {
    width: 95vw;
  }
}

@media screen and (max-width: 500px) {
  #logo {
    height: 11vw;
    --temp: calc(74px - 11vw);
    top: calc(var(--temp) * 0.5);
  }
  #drp_menu {
    width: 10vw;
    height: 10vw;
    --temp: calc(74px - 10vw);
    top: calc(var(--temp) * 0.30);
  }
}

@media screen and (max-width: 320px) {
  #header, #main, #footer {
    width: 320px;
  }
  #logo {
    position: absolute;
    top: 19.4px;
    height: 35.2px;
    left: 160px;
  }
  #drp_menu {
    width: 32px;
    height: 32px;
    top: 12.6px;
  }
  .nav {
    width: 320px;
    position: absolute;
    top: 70px;
    margin: auto;
  }
}


#portals {
  width: 95%;
  margin: auto;
}

#portals_hw {
  width: 100%;
  margin: auto;
}

#portals_miscellaneous {
  width: 100%;
  margin: auto;
}

.portal {
  text-align: center;
  padding: 10px;
  width: 125px;
  float: none;
  display: inline-block;
}

#resources {
  width: 85%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#searchable {
  width: 100%;
}

.resource {
  padding-left: 20px;
  padding-right: 20px;
}
/*form style code from https://www.w3schools.com/howto/howto_css_search_button.asp*/
form input[type=text] {
  padding: 5px;
  font-size: 13px;
  border: 1px solid lightgrey;
  float: left;
  width: 65%;
  background: white;
}
form button {
  float: left;
  width: 25%;
  padding: 5px;
  background: lightgray;
  color: black;
  font-size: 13px;
  border: 1px solid lightgrey;
  border-left: none;
  cursor: pointer;
}
form {
  padding-top: 10px;
  height: 20px;
  padding-bottom: 20px;
}

#minecraftwiki_logo {
  height: 100px;
}
#youtube_logo {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#minecraftreddit_logo {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#minecraft_logo {
  height: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
}
#mcstacker_logo {
  height: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#armorstand_logo {
  height: 25px;
  padding-top: 42.5px;
  padding-bottom: 32.5px;
}
#skindex_logo {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#digminecraft_logo {
  height: 25px;
  padding-top: 42.5px;
  padding-bottom: 32.5px;
}

.logo {
  filter: opacity(0.95);
  z-index: -1;
}

.logo:hover {
  cursor: pointer;
  filter: opacity(0.85);
}

.resource {
  display: inline-block;
  padding-bottom: 10px;
}

iframe {
  width: 100%;
  height: 100%;
}
#memes {
  overflow-x: auto;
  white-space: nowrap;
}

.heading {
  display: inline-block;
  border-bottom: 4px solid black;
  line-height: 0.75em;
  padding-top: 5px;
  padding-bottom: 0.5em;
  letter-spacing: 0.05em;
}
